* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #1f1919;
    padding: 0 80px;
}

/* MENU */

header {
    position: relative;
    height: 280px;
}

.menu {
    position: absolute;
    top: 70px;
    left: 0;
}

.menu a {
    text-decoration: none;
    color: #43A047;
    border: 2px solid #43A047;
    padding: 8px 12px;
    margin-right: 8px;
    display: inline-block;
    font-size: 18px;
}

/* LOGO */

.logo {
    position: absolute;
    top: 155px;
    left: 0;

    font-size: 36px;
    font-weight: 900;
    color: #000000;
}

/* LOGIN */

.login {
    position: absolute;
    top: 155px;
    right: 5px;
}

.login a {
    text-decoration: none;
    color: #43A047;
    border: 2px solid #43A047;
    padding: 12px 14px;
    margin-left: 16px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

/* LINHAS */

hr {
    border: none;
    border-top: 2px solid #bdbdbd;
}

/* CONTEÚDO */

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 440px;
    padding: 28px 0;
}

/* TEXTO */

.texto {
    width: 55%;
}

.texto h1 {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 35px;
    color: #050505;
}

.texto p {
    font-size: 24px;
    line-height: 1.5;
    color: rgb(44, 38, 38);
    max-width: 700px;
    margin-bottom: 35px;
}

/* BOTÃO */

.botao {
    display: inline-block;

    text-decoration: none;
    background-color: #43A047;
    color: white;

    padding: 16px 22px;

    font-size: 20px;
    font-weight: bold;
}

/* IMAGEM */

.imagem {
    width: 42%;
}

.imagem img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
}

/* RODAPÉ */

footer {
    text-align: center;
    font-size: 22px;
    color: #444;
    padding: 35px 0;
}
